*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BArra di navigazione */
nav{
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 0;
}
nav li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    padding: 40px;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid black;
}
/* Section */
section{
    height: 100vw;
    position: relative;
}
section:first-of-type{
    background-color: red;
}
section{
    background-color: green;
}
section:last-of-type{
    background-color: yellow;
}
#shoe-1, #shoe-2, #shoe-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section h1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
