*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BArra di navigazione */
nav{
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 0;
}
nav li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    background-color: white;
    border-radius: 50%;
    border: 1px solid transparent; 
}
/* Section */
section{
    height: 100vw;
    position: relative;
    background-color: green;
    scroll-behavior: smooth;
}
section:first-of-type{
    background-color: red;
}
section:last-of-type{
    background-color: yellow;
}

/* Content delle section */
#shoe-1, #shoe-2, #shoe-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section h1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:55px;
    text-align: center;
    text-transform: uppercase;
}
