*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* BArra di navigazione */
nav{
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 20px;
}
nav li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 50%;
    border: 1px solid transparent; 
}
/* Section */
section{
    height: 100vh;
    position: relative;
    background-color: green;
    scroll-behavior: smooth;
}
section:first-of-type{
    background-color: red;
}
section:last-of-type{
    background-color: yellow;
}
img/*[id ^='shoe']*/{ 
    scroll-behavior: smooth;
}
/* Content delle section */

/* immagini */
section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
/* titoli */
section h1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:55px;
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}
#banner-3 h1{
    color: green;
}
